
* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  background-color:aquamarine;
  color: white;
}
.plus{
  width: 100%;
  display: flex;
  margin-left: 65px;
  background-color: aquamarine;
}
.googlebtn{
  margin-left: 350px;
}
.connexion img{
  width: 250px;
  border-radius: 50%;
}
.line {
  background-color: rgba(127, 126, 126, 0.845);
  height: 1px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
li {
  list-style: none;
}
.button {
  width: 90px;
  border-radius: 15px;
  outline: none;
  background-color: transparent;
  border: 1px solid blue;
  color: white;
  height: 30px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  z-index: 1;
  position: fixed;
  cursor: pointer;
}
.signout {
  width: 90px;
  margin-left: 90%;
  height: 30px;
  cursor: pointer;
}

.text {
  margin-bottom: 20px;
  margin-top: 10%;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

h1 {
  width: 500px;
  color: rgb(228, 51, 110);
}

@media (max-width: 900px) {
  .text {
    margin-bottom: 30px;
    margin-left: 10%;
    margin-top: 70%;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* gap: 5px; */
  }
  .connexion img{
  width: 100px;
  border-radius: 50%;
  margin-right: 60px;
}
  h1 {
    font-size: 30px;
  }
  .googlebtn{
  margin-top: 20px;
  margin-left: 50px;
  border: 0px solid antiquewhite;
  width: auto;
}
  .desk {
    display: none;
  }
  .mobile {
    display: flex;
  }
  .signout {
    width: 90px;
    margin-left: 75%;
    height: 30px;
  }
}
